* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*
 * -- LAYOUT STYLES --
 * These are some useful classes which I will need
 */
.l-box {
    padding: 1em;
}

.l-box-lrg {
    padding: 2em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.btn {
    font-size: 10pt;
}

/*
 * -- NAVIGATION BAR --
 *
 */
.navbar-default {
    background: #62B0DE !important;
    border: transparent;
}

.navbar-default .navbar-brand,.navbar-default .navbar-brand:hover {
    color: black;
}

.navbar-default .navbar-nav>li>a{
    color: black;
}

.navbar-default .navbar-toggle .icon-bar{
    background-color: black;
}

.navbar-default .navbar-nav>li>a:focus{
    color: white;
}

.header a {
    font-weight: 400;
    font-size: 100%;
}

.nav.navbar-nav.navbar-right li a:hover {
    background: lightblue;
    border: none;
    color: white;
}

/*
 * -- SPLASH --
 *
 */
.splash-container {
    background: #1f8dd6;
    z-index: 1;
    overflow: hidden;
    /*"scroll-over" effect */
    width: 100%;
    height: 88%;
    top: 0;
    left: 0;
    position: fixed !important;
}

.splash {
    width: 80%;
    height: 50%;
    margin: auto;
    position: absolute;
    top: 100px;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    text-transform: uppercase;
}

.splash-head {

    color: firebrick;
    border: 6px solid lightblue;
    padding: 1em 1.6em;
    font-weight: 200;
    border-radius: 5px;
    line-height: 1em;
    background: white;
}

.splash-subhead {
    color: white;
    letter-spacing: 0.05em;
    opacity: 0.8;
}

/*
 * -- CONTENT --
 *
 */
.content-wrapper {
    /* "scroll-over" effect */
    position: absolute;
    top: 87%;
    width: 100%;
    min-height: 12%;
    z-index: 2;
    background: white;

}

.content-head {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin: 2em 0 1em;
}

.content-head-ribbon {
    color: white;
}

.content-subhead span {
    color: #1f8dd6;
    margin-right: 7px;
}

/* DARK SECTION */
.ribbon {
    background: #2d3e60;
    color: #aaa;
}

/* FOOTER */
.footer {
    background: #111;
    color: white;
}

/*
 * --APP CONTENT --
 *
 */
.app-content-wrapper {
    position: absolute;
    top: 20%;
    width: 100%;
    min-height: 12%;
    z-index: 2;
    background: white;

}

.app-content-head-button {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin: 0 auto;
    background: white;
    display: block;
    border: rgba(212, 212, 212, 0.5) solid 2px;

}

.app-content-text {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-left: 3.5%;
    margin-right: 3.5%;
}

p.app-content-text{
    font-size: 11pt;
}

.app-content-text-subhead {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-left: 3.5%;
    margin-right: 3.5%;
    color: gray;
    opacity: 0.8;
    font-size: 70%;
    display: inline-block;
}

.app-content-textbox {
    background: white;
    border-top: solid 6px #62B0DE;
    border-bottom: rgba(212, 212, 212, 0.5) solid 2px;
    border-left: rgba(212, 212, 212, 0.5) solid 2px;
    border-right: rgba(212, 212, 212, 0.5) solid 2px;
    margin: auto;
    overflow: scroll;
    padding-top: 1em;
}

.app-content-textbox-big {
    background: white;
    border-top: solid 6px #62B0DE;
    border-bottom: rgba(212, 212, 212, 0.5) solid 2px;
    border-left: rgba(212, 212, 212, 0.5) solid 2px;
    border-right: rgba(212, 212, 212, 0.5) solid 2px;
    margin: auto;
    padding-top: 1em;

}

.ellipsis {
    background: transparent;
    padding: 0;
    margin-top: 0.5em;
    margin-right: 1em;
    border: 0;
}

#modificar-perfil {
    position: relative;
}

.btn-group a {
    display: inline-block;
}

.separator {
    padding: 1em;
}

.text-red {
    color: darkred;
}

.text-green {
    color: darkgreen;
}

/* PANEL */

.panel-heading a {
    text-decoration: none;
}

.creditos-header {
    color: mediumblue;
    font-weight: 500;
    opacity: 0.7;
}

.numero-grupos {
    text-align: center;
    display: inline;
    color: #2f83de;
}

.caja-celda {
    background-color: transparent;
    border: 0;
    border-spacing: 0em;

}

.boton-celda {

    -webkit-border-radius: 40em;
    -moz-border-radius: 40em;
    border-radius: 40em;
    border: 0;
    border-spacing: 0;
    margin: 0.25em;
    padding: 0;
    background-color: transparent;
}

.tabla-head {
    font-weight: 600;
    font-size: 14pt;
    background-color: white;
    text-align: center !important;
    border-bottom: solid 6px #62B0DE;
    min-height: 1.75em;
}


.tabla-subhead {
    font-weight: 600;
    background-color: #62B0DE;
}

.fila-responsive {
    list-style: none;
    padding-left: 0;
}

.fila-responsive li {
    padding-left: 2.5%;
    padding-right: 2.5%;
    border-bottom: rgba(212, 212, 212, 0.5) solid 2px;
    vertical-align: baseline;
    text-align: left;
    min-height: 3em;
}

.fila-responsive.tabla-head li {
    padding-left: 2.5%;
    padding-right: 2.5%;
    vertical-align: baseline;
    text-align: left;
    border-bottom: 0 !important;
}

.celda-amarilla {
    background: rgba(255, 255, 0, 0.5);
}

.celda-roja {
    background: rgba(255, 0, 0, 0.5);
}

/* GESTIONAR PERSONAL */

.filaPersonal li {
    width: 25% !important;
}

.resumen-personal {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-top: solid 6px #62B0DE;
    border-bottom: rgba(212, 212, 212, 0.5) solid 2px;
    border-left: rgba(212, 212, 212, 0.5) solid 2px;
    border-right: rgba(212, 212, 212, 0.5) solid 2px;
}

/* ASIGNAR */

.glyphicon.glyphicon-search {
    color: rgba(212, 212, 212, 0.7);
    border-right: solid 1px rgb(212, 212, 212);
    font-size: 200%;
    padding: 0.25em;
}

.search-bar {
    display: inline-flex;
    display: -webkit-inline-flex;
    border: solid 1px rgba(212, 212, 212, 0.7);
    width: 57%;
    position: relative;
    padding-left: 0.25em;
    padding-right: 0.25em;
}

.search-bar > input, .search-bar > input:focus {
    border: 0;
    width: 95%;
    font-size: 100%;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    outline: 0;
    padding: 1em;
    text-align: center;

}

.btn.info, .btn.info:focus {
    border-radius: 40em;
    -webkit-border-radius: 40em;
    -moz-border-radius: 40em;
    background: transparent;
    outline: 0;
    font-size: 120%;
    padding: 0;
    height: 1.2em;
    margin-left: 1em;
}

.glyphicon.glyphicon-info-sign:hover {
    color: rgba(0, 0, 255, 0.7);
}

.glyphicon.glyphicon-pencil:hover {
    color: rgba(255, 125, 0, 0.7);
}

.btn-navegacion {
    color: black;
}

.btn-eliminar {
    display: inline;
    padding: 0;
    margin: 0;
    border: 0;
    background: transparent;
    font-size: 110%;
    padding-top: 0.15em;
}

.glyphicon.glyphicon-ok:hover {
    color: #6bde3f;
}

.glyphicon.glyphicon-remove:hover , .glyphicon.glyphicon-trash:hover , .glyphicon.glyphicon-ban-circle:hover {
    color: rgba(255, 0, 0, 0.5);
}

#agregar-profesor {
    width: 50%;
    text-align: center;
}

.input-agregar-celda {

    text-align: center;
    margin-top: 0.5em;
}

/* Validacion de Formas */

input.validar.ng-untouched{
    border: 1px solid #ccc !important;

}

input.validar.ng-invalid {
    border: 1px solid darkred;
}

input.validar.ng-valid {
    border: 1px solid green;
}

/* Responsive Smartphones */

/* PORTRAIT */
@media (max-width: 47.9em) {

    .fila-responsive {
        display: inline-block;
    }

    .fila-responsive li {
        width: 100%;
    }

    .boton-celda {
        font-size: 115%;
    }

    .app-content-textbox {
        width: 100%
    }

    .grupos {
        height: 7.55em;
    }

    .search-bar > input, .search-bar > input:focus {
        font-size: 80%;
    }

    .search-bar{
        width: 85%;
    }

    .hide-header{
        display: none !important;
    }
}

/* Responsive Tablets and Desktops */
@media (min-width: 48em) {

    body {
        font-size: 16px;
    }

    .content {
        padding: 1em;
    }

    .home-menu {
        text-align: left;
    }

    .home-menu ul {
        float: right;
    }

    /* We increase the height of the splash-container */
    .splash-container {
        height: 500px;
    }

    /* We decrease the width of the .splash, since we have more width
    to work with */
    .splash {
        width: 50%;
        height: 50%;
    }

    .splash-head {
        font-size: 250%;
    }

    /* We remove the border-separator assigned to .l-box-lrg */
    .l-box-lrg {
        border: none;
    }

    .fila-responsive.tabla-subhead {
        display: none;
    }

    .fila-responsive {
        display: inline-flex;
        display: -webkit-inline-flex;
        margin-bottom: 0;
    }

    .fila-responsive li {
        width: 20%;
    }

    .grupos {
        height: 3em;
    }

    .app-content-textbox-big {
        font-size: 110%;
    }

}

/* Responsive Desktop */

@media (min-width: 78em) {
    /* We increase the header font size even more */
    .splash-head {
        font-size: 300%;
    }

    .fila-responsive.tabla-subhead {
        display: none;
    }

    .fila-responsive {
        display: inline-flex;
        display: -webkit-inline-flex;
        margin-bottom: 0;
    }

    .fila-responsive li {
        width: 20%;
    }

    .app-content-textbox {
        width: 100%
    }

}
