<div class="pure-g">
    <div class="pure-u-1"><h3 class="app-content-text">Gestionar Asignaturas</h3></div>
    <div class="pure-u-3-5">
        <h4><span class="app-content-text-subhead">Titulaci&oacute;n:</span>
            <dropdown-selector data="asignaturas.titulaciones"
                               actual="asignaturas.actual"></dropdown-selector></h4>
    </div>
    <div class="pure-u-2-5">
            <h4><button type="button" class="btn btn-default app-content-text" ng-click="asignaturas.edicion(null, '')">Agregar <span
                    class="glyphicon glyphicon-plus"></span></button>
            <button type="button" class="btn btn-success app-content-text" ng-show="asignaturas.cambios">Guardar</button></h4>
    </div>
</div>
<div class="pure-g container-fluid">
    <ul class="pure-u-1-2 pure-u-md-1 pure-u-lg-1 fila-responsive tabla-head hide-header">
        <li>Nombre</li>
        <li>Caracter</li>
        <li>Cr&eacute;ditos</li>
        <li>Semestre</li>
        <li>Nº Alumnos</li>
        <li>Nº Grupos</li>
        <li>Nº Desdobles</li>
        <li>Cr&eacute;ditos Departamento</li>
    </ul>
</div>

<div ng-repeat="ano in asignaturas.cursos[asignaturas.actual]">
    <div class="pure-g container-fluid" ng-repeat="asignatura in ano.asignaturas | orderBy: 'semestre'">

        <ul class="pure-u-1-2 pure-u-md-1 pure-u-lg-1 fila-responsive tabla-subhead">
            <li>Nombre</li>
            <li>Caracter</li>
            <li>Cr&eacute;ditos</li>
            <li>Semestre</li>
            <li>Nº Alumnos</li>
            <li>Nº Grupos</li>
            <li>Nº Desdobles</li>
            <li>Cr&eacute;ditos Departamento</li>
        </ul>
        <ul class="pure-u-1-2 pure-u-md-1 pure-u-lg-1 fila-responsive">
            <li>{{asignatura.nombre}}</li>
            <li>{{asignatura.caracter}}</li>
            <li>{{asignatura.creditosT + asignatura.creditosP}}</li>
            <li>{{asignatura.semestre}}</li>
            <li>{{asignatura.prevision}}</li>
            <li>{{asignatura.num_grupos}}</li>
            <li>{{asignatura.num_desdobles}}</li>
            <li>
                {{(asignatura.creditosT + asignatura.creditosP) * asignatura.num_grupos}}

                <div class="pull-right">
                <a class="btn info"
                        ng-click="asignaturas.edicion(asignatura, $parent.$index)">
                    <span class="glyphicon glyphicon-info-sign"></span>
                </a>

                <button type="button" class="btn btn-eliminar"
                        ng-click="asignaturas.eliminar(asignatura, $parent.$index)">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
                </div>
            </li>
        </ul>

    </div>
</div>
